<div class="top_placeholder"></div>
<div class="auth-wrapper">
    <form class="form-register" [formGroup]="registerForm" (ngSubmit)="registerUser()">
        <h3 class="h3 mb-3 font-weight-normal text-center">Register</h3>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Enter name" required>
        </div>
        <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Enter email" required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-block btn-primary">Submit Form</button>
        <button (click)="cancel_register()" type="button" class="admincrud_btn">Cancel Register</button>
    </form>
</div>
<div>
    <button (click)="logout()" *ngIf="this.adminService.isLoggedIn" type="button" class="btn btn-primary">Logout</button>
</div>
<div>
    <h2>{{login_error_message}}</h2>
</div>
