<div class="listing_form_wrapper">
    <div class="admin_form_message_wrapper">
      <div class="admin_update_message" *ngIf="this.listing_form_message">{{listing_form_message}}</div>
    </div>
    <form class="listing-form" autocomplete="off" [formGroup]="listingForm" (ngSubmit)="submitForm()">
        <!-- image -->
        <div class="form_control_wrapper_div">
          <!-- <input class="form-control" type="text" id="image" formControlName="image" placeholder="Image" required> -->
          <!-- <select formControlName="image_selector" id="image"> -->
          <select class="form_control_select_element" formControlName="image" id="image">
            <!-- <option *ngFor="let image of images$ | async" [ngValue]="image.image_name"> -->
              <option *ngFor="let image of images$ | async" [ngValue]="image.image">{{ image.name }} | {{ image.size }}</option>          
          </select>
          <label for="image">Image</label>
        </div>    
        <!-- <div *ngIf="image.invalid && (image.dirty || image.touched)" class="alert alert-danger">
          <div *ngIf="image.errors?.['required']">
            Image is required.
          </div>
        </div> -->
    
        <!-- title -->
        <div class="form_control_wrapper_div">
          <input class="form_control_input_element" id="title" type="text" formControlName="title" placeholder="Title" required [value]="title.value">
          <label for="title">Title</label>
        </div>
    
        <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
    
          <div *ngIf="title.errors?.['required']">
            Title is required.
          </div>
          <div *ngIf="title.errors?.['maxlength']">
            Title can be at most 25 characters long.
          </div>
        </div>
    
        <!-- short_description -->
        <div class="form_control_wrapper_div">
            <input class="form_control_input_element" id="short_description" type="text" formControlName="short_description" placeholder="Short description" required>
            <label for="short_description">Details</label>
          </div>
      
          <div *ngIf="short_description.invalid && (short_description.dirty || short_description.touched)" class="alert alert-danger">
      
            <div *ngIf="short_description.errors?.['required']">
              Short description is required.
            </div>
            <div *ngIf="short_description.errors?.['maxlength']">
                Short description can be at most 25 characters long.
            </div>
          </div>
    
    
    
        <!-- price -->
        <div class="form_control_wrapper_div">
            <input class="form_control_input_element" id="price" type="text" formControlName="price" placeholder="Price" required>
            <label for="price">Price</label>
          </div>
      
          <div *ngIf="price.invalid && (price.dirty ||price.touched)" class="alert alert-danger">  
            <div *ngIf="price.errors?.['required']">
                Price is required.
            </div>        
          </div>
    
    
    
    
        <!-- active -->
        <div class="form-floating mb-3">
            <div class="form-check">
                <input class="form-check-input" type="radio" formControlName="active" name="active" id="active-true" value="true" required>
                <label class="form-check-label" for="active-true">Active listing.</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" formControlName="active" name="active" id="active-false" value="false">
                <label class="form-check-label" for="active-false">Non-active listing.</label>
              </div>
        </div>
        <div class="admin_form_buttons_wrapper_div">
          <button class="admin_form_button" type="submit" [disabled]="listingForm.invalid">Add</button>
          <button class="admin_form_button" (click)="cancelAdd($event)">Cancel</button>
        </div>        
    </form>
</div>
