<div class="listing_form_wrapper">
    <form class="listing-form" autocomplete="off" [formGroup]="listingForm" (ngSubmit)="submitForm()">
        <!-- image -->
        <div class="form-floating mb-3">
          <input class="form-control" type="text" id="image" formControlName="image" placeholder="Image" required>
          <label for="image">Image</label>
        </div>
    
        <div *ngIf="image.invalid && (image.dirty || image.touched)" class="alert alert-danger">
          <div *ngIf="image.errors?.['required']">
            Image is required.
          </div>
        </div>
    
        <!-- title -->
        <div class="form-floating mb-3">
          <input class="form-control" type="text" formControlName="title" placeholder="Title" required>
          <label for="title">Title</label>
        </div>
    
        <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
    
          <div *ngIf="title.errors?.['required']">
            Title is required.
          </div>
          <div *ngIf="title.errors?.['maxlength']">
            Title can be at most 25 characters long.
          </div>
        </div>
    
        <!-- short_description -->
        <div class="form-floating mb-3">
            <input class="form-control" type="text" formControlName="short_description" placeholder="Short description" required>
            <label for="short_description">Short description</label>
          </div>
      
          <div *ngIf="short_description.invalid && (short_description.dirty || short_description.touched)" class="alert alert-danger">
      
            <div *ngIf="short_description.errors?.['required']">
              Short description is required.
            </div>
            <div *ngIf="short_description.errors?.['maxlength']">
                Short description can be at most 25 characters long.
            </div>
          </div>
    
    
    
        <!-- price -->
        <div class="form-floating mb-3">
            <input class="form-control" type="text" formControlName="price" placeholder="Price" required>
            <label for="price">Price</label>
          </div>
      
          <div *ngIf="price.invalid && (price.dirty ||price.touched)" class="alert alert-danger">  
            <div *ngIf="price.errors?.['required']">
                Price is required.
            </div>        
          </div>
    
    
    
    
        <!-- active -->
        <div class="form-floating mb-3">
            <div class="form-check">
                <input class="form-check-input" type="radio" formControlName="active" name="active" id="active-true" value="true" required>
                <label class="form-check-label" for="active-true">Junior</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" formControlName="active" name="active" id="active-false" value="false">
                <label class="form-check-label" for="active-false">Mid</label>
              </div>
        </div>    
        <button class="btn btn-primary" type="submit" [disabled]="listingForm.invalid">Add</button>
    </form>
</div>
