<div class="top_placeholder"></div>
<div class="listing_maintenance_header_container">
    <div class="admin_nav_div">        
        <button class="nav_button" (click)="this.adminService.clientMenu()">Client Menu</button>
    </div>
    <div class="title_div">Login Administrator</div>
    <div class="admin_message_div">
    </div>
</div>
<div class="rwd_header_wrapper">
    <div class="rwd_nav_wrapper_div">
        <img class="rwd_nav_icon" (click)="menuOpen($event)" width="20" src='data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTYiIHdpZHRoPSIxNCIgdmlld0JveD0iMCAwIDQ0OCA1MTIiPjwhLS0hRm9udCBBd2Vzb21lIEZyZWUgNi41LjEgYnkgQGZvbnRhd2Vzb21lIC0gaHR0cHM6Ly9mb250YXdlc29tZS5jb20gTGljZW5zZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tL2xpY2Vuc2UvZnJlZSBDb3B5cmlnaHQgMjAyMyBGb250aWNvbnMsIEluYy4tLT48cGF0aCBvcGFjaXR5PSIxIiBmaWxsPSIjMUUzMDUwIiBkPSJNMCA5NkMwIDc4LjMgMTQuMyA2NCAzMiA2NEg0MTZjMTcuNyAwIDMyIDE0LjMgMzIgMzJzLTE0LjMgMzItMzIgMzJIMzJDMTQuMyAxMjggMCAxMTMuNyAwIDk2ek0wIDI1NmMwLTE3LjcgMTQuMy0zMiAzMi0zMkg0MTZjMTcuNyAwIDMyIDE0LjMgMzIgMzJzLTE0LjMgMzItMzIgMzJIMzJjLTE3LjcgMC0zMi0xNC4zLTMyLTMyek00NDggNDE2YzAgMTcuNy0xNC4zIDMyLTMyIDMySDMyYy0xNy43IDAtMzItMTQuMy0zMi0zMnMxNC4zLTMyIDMyLTMySDQxNmMxNy43IDAgMzIgMTQuMyAzMiAzMnoiLz48L3N2Zz4='/>
        <select class="rwd_nav_select" #nav size="2" (change)="onSelectOption(nav.value)" (blur)="onBlur()">            
            <option class="rwd_option" value="client_menu">Client Menu</option>
        </select>
    </div>    
</div>
<div class="form_wrapper">
    <div class="form_message_wrapper">
        <div class="message" *ngIf="this.login_error_message">{{login_error_message}}</div>
    </div>
    <form class="form-register" [formGroup]="loginForm" (ngSubmit)="loginUser()"> 
        <div class="form_control_wrapper_div">
            <input type="email" class="form_control_input_element" formControlName="email" placeholder="Enter email" required>        
            <label>Email</label>
        </div>
        <div class="form_control_wrapper_div">
            <input type="password" class="form_control_input_element" formControlName="password" placeholder="Password" required>            
            <label>Password</label>
        </div>
        <div class="admin_form_buttons_wrapper_div">
            <button type="submit"  class="admin_form_button">Login</button>
        </div>        
    </form>
</div>
<div class="content_wrapper"></div>

