<div class="top_placeholder"></div>
<div class="listings_content">
    <ul class="listings">
        <li class="listing_container" *ngFor="let listing of listings$ | async">
            <div class="list_item_wrapper">
                <div class="listing_image_wrapper">
                    <img class="listing_img" src="data:image/jpg;base64, {{listing.image}}">
                </div>
                <div class="add_price_container">                    
                    <div class="price_wrapper">
                        <div class="price">{{ listing.price }}</div>
                    </div>
                    <div class="add_button_wrapper">
                        <button class="add_button">Add</button>
                    </div>
                </div>
                <div class="listing_text_container">
                    <div class="listing_title">{{listing.title}}</div>
                    <div class="short_description">{{listing.short_description}}</div>
                </div>                                
            </div>
            <div class="rwd_list_item_wrapper">
                <div class="rwd_row_0">             
                    <div class="listing_image_wrapper">
                        <img class="listing_img" src="data:image/jpg;base64, {{listing.image}}">
                    </div>                   
                    <div class="listing_text_container">
                        <div class="listing_title">{{listing.title}}</div>
                        <div class="short_description">{{listing.short_description}}</div>
                    </div>
                </div>            
                <div class="add_price_container">                
                    <div class="price_wrapper">
                        <div class="price">{{ listing.price }}</div>
                    </div>
                    <div class="add_button_wrapper">
                        <button class="add_button">Add</button>
                    </div>                
                </div>
            </div>                        
        </li>
    </ul>
</div>
